<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger Eater</title>
</head>

<body>
    <h1>Create a Burger, then munch on it!!</h1>
    
    {{!-- the form to create a new burger and the path name for it '/burgers' --}}
    <h2>Create A Burger</h2>
    <form method="POST" action="/burgers">
        <input type="text" id="burgerBox" name="burger_name" placeholder="Burger Name: ">
        <button class="btn" type="submit">BURGER TIME</button>
    </form>
    
    {{!-- handlebars notation to include all undevoured burgers --}}
    <p>Burgers to devour:</p>
    {{#each burgers}}
    {{#unless this.devoured}}
    <ul>
        {{this.burger_name}}
        <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
            <button class="btn" type="submit">DEVOUR</button>
        </form>
    </ul>
    {{/unless}}
    {{/each}}

    {{!-- handlebars for the devoured burgers --}}
    <p>BURGERS DEVOURED: </p>
    {{#each burgers}}
    {{#if this.devoured}}
    <ul>
        {{this.burger_name}}
    </ul>
    {{/if}}
    {{/each}}


</body>

</html>